@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    display: flex;
    width:20%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;
    /*justify-content: center;
    align-items: center;*/
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.navList{
    width: 70%;
    display: flex;
    align-items: center;
    font-size: 20px;
} 
.navList li{
    font-size: 20px;
    list-style: none;
    padding: 12px 44px;
}
.navList li a{
    text-decoration: none;
    color: rgb(162, 212, 255);
}
.navList li a:hover{
    color: rgb(255, 255, 255);

}
.navigation{
    width: 60%;
    padding: 15px;
    justify-content: center;
}
.rightnav{
    width: 30%;
    text-align: center;
    padding: 0 23px;
}
#search{
    padding: 2px;
    font-size: 24px;
    border: 2px solid light grey;
    border-radius: 9px;
    /*justify-content: center;
    align-items: center;*/
}
.background{
    background: rgba(0,0,0,0.7) url(https://qph.cf2.quoracdn.net/main-qimg-6b59d98f5a04a38bc718c04a6e57e1c4-lq);
    background-size: cover;
    background-blend-mode: darken;

}
.firstSection{
    height:100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 80%;
    margin: auto;
    height: 80%;
}
.firstHalf{
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
}
.secondHalf{
    width: 40%;

}
.secondHalf img{
    width: 70%;
    border: 3px solid white ;
    border-radius: 200px;
    display: block ;
    margin: auto;
}
.form{
    text-align: center;
    background-color: antiquewhite;

}
.musicWorld{
    color: rgb(227, 227, 227);
    font-size: 50px;
    text-align: center;
    background-color: rgb(107, 53, 53);
}
.musicWorld a {
    color: #000000;
    text-decoration: none;
    font-size: 30px;
}
.text-big{
    font-size:60px;
    

}
.text-small{
    font-size: 20px;
    
}
.btn{
    padding: 8px 20px;
    margin: 8px 5px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn-sm{
    padding: 3px;
}
.section{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1133px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}
.section-Left{
    flex-direction: row-reverse;
}
.paras{
    padding: 0px 30px;
}
.imgFluid{
    border: #000000;
    border-radius: 20px;
}
.burger{
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
    top: 15px;

}
.line{
    width: 33px;
    background-color: rgb(255, 255, 255);
    height: 4px;
    margin: 3px 3px;
}
.text-footer{
    text-align: center;
    padding: 18px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color:white;
}
@media only screen and (max-width: 1200px){
    .navList{
        padding: 10px 40px;
        flex-direction: column;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .navbar{
        height: 400px;
        flex-direction: column;
        transition: all 0.8s ease-out;
    }
    .rightnav{
        flex-direction: column;
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-class-resp{
        height: 52px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .logo img{
        width: 5%;

    }
}
